@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

:root {--tufts-blue: #3E8EDE;}

body {
	background-color: #F5F5DC;
}

.main-container {
	display: flex;
	flex-wrap: wrap;
	min-height: 100vh;
	align-items: center;
	justify-content: space-around;
}

#center {width:100%;}
.main-item {
	min-width: 120px;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.main-item.center {
	width:100%;
}

.sub-item {
	width: 120px;
	text-align: center;
	align-items: center;
	justify-content: center;

}
.sub-item:hover {
	filter: opacity(35%);
	transform: scale(1.25);
}

.main-item h1 {
	font-size: 72px;
	position: relative;
	text-align: center;
	color: var(--tufts-blue);
	font-family: 'Roboto', sans-serif;
}

.main-item h2 {
	opacity: 0;
	width: 97%;
	font-size: 20px;
	position: relative;
	text-align: center;
	justify-content: center;
	color: var(--tufts-blue);
	font-family: 'Roboto', sans-serif;
	animation: fadeIn 12s infinite;
	position: absolute;
}

.main-item h2.efade {
	animation-delay: -4s;
	visibility: visible;
}
.main-item h2.rfade {
	visibility: visible;
	animation-delay: -8s;
}
.main-item h2.ffade {
	visibility: visible;
	animation-delay: -12s;
}

@keyframes fadeIn {
  30% {opacity:1;}
  50% {opacity:0;}
}

.main-item p,a {
	font-size: 12px;
	position: relative;
	text-align: center;
	text-decoration: none;
	color: var(--tufts-blue);
	font-family: 'Montserrat', sans-serif;
}

/*#dropdown {width: 50px;}*/
.main-item img{
	width: 100px;
	filter: opacity(50%);
}

.main-item img.dropdown{
	width: 50px;
}

.sub-item img{
	width: 50px;
}

.main-item a{
	opacity: 0;
	/*transition-duration: 2s;*/
}

.main-item:hover img {
	filter: opacity(35%);
	transform: scale(1.25);
}

.main-item:hover a ~.img{
	opacity: 1;
	transform: scale(0.5); /* override base img scale */
}

.main-item:hover a{
	opacity: 1;
}

.break {
  height: 0px;
  flex-basis: 100%;
}
