@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

:root {--tufts-blue: #3E8EDE;
       --tufts-brown: #654321}

body {background-color: #F5F5DC;}

.main-container {
	display: flex;
	flex-wrap: wrap;
	min-height: 100vh;
	align-items: center;
	justify-content: space-around;
}

#center {width:100%;}
.main-item {
	min-width: 120px;
  min-height: 50px;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.sub-item {
	width: 120px;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.sub-item:hover {
	filter: opacity(35%);
	transform: scale(1.25);
}

.main-item h1 {
	font-size: 72px;
	position: relative;
	text-align: center;
	color: var(--tufts-blue);
	font-family: 'Roboto', sans-serif;
}

.main-item a {
	font-size: 16px;
	position: relative;
	text-align: justify;
  align-items: center;
  justify-content: center;
	text-decoration: none;
	color: var(--tufts-blue);
	font-family: 'Montserrat', sans-serif;
}

.frame {
  z-index: 100;
  width: 700px;
  min-width: 60%;
  max-width: 90%;
  max-height: 95%;
  min-height: 50%;
  padding-top: 10px;
  padding-right: 30px;
  height: 700px;
  border-left: 3px double var(--tufts-brown);
  border-right: 3px double var(--tufts-brown);
  overflow: scroll;
}


.frame h1 {
	font-size: 24px;
	position: relative;
	text-align: center;
	color: var(--tufts-blue);
  margin-top: -4px;
	font-family: 'Roboto', sans-serif;
}

.frame p,a, li {
	font-size: 16px;
	position: relative;
	text-align: justify;
  list-style-type: none;
	text-decoration: none;
	color: var(--tufts-blue);
	font-family: 'Montserrat', sans-serif;
}


.frame a[href]{
  text-decoration: underline;
}

.frame img{
  width: 10px;
}

.frame li::before {
    content: '';
    margin-left: -20px;
    margin-right: 5px;
    --marker-size: 15px;
    display: inline-block;
    vertical-align: middle;
    width: var(--marker-size);
    height: var(--marker-size);
    background-size: var(--marker-size);
    background-position: center center;
    background-image: url("photos/highlight.png");
}

.frame li.starless::before {
  background-image: none;
}

.flexul {
  width: 100%;
  height: 80px;
  min-width: 60%;
  max-width: 105%;
  display: flex;
  flex-wrap: wrap;
	align-items: center;
  justify-content: space-between;
  margin-left: 1%;
  margin-bottom: 15px;
}

.flexli {
  min-width: 100px;
  max-width: 300px;
  max-height: 10px;
	align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 20px;
}

#missile {width: 35px; margin-left: 5px;}
.main-item img{
	width: 50px;
	filter: opacity(50%);
  vertical-align: middle;
}

.sub-item img{
	width: 50px;
}

.break {
  height: 25px;
  flex-basis: 100%;
}
