@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

:root {--tufts-blue: #3E8EDE;}

body {
	background-color: var(--tufts-blue);
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 48px;
}

h2 {
	font-family: 'Cedarville Cursive', cursive;
	font-size: 48px;
}

h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
}