@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

:root {--tufts-blue: #3E8EDE;}

body {
	background-color: #F5F5DC
}

.welcome-container {
	display: flex;
	min-height: 100vh;
	align-items: center;
	justify-content: space-between;
	border: 3px solid black;
}

.welcome-item {
	min-height: 100vh;
	align-items: center;
	justify-content: center;
	border: 1px solid red;
}

.welcome-item h1 {
	font-size: 64px;
	text-align: center;
	color: var(--tufts-blue);
	font-family: 'Roboto', sans-serif;
	position: relative;
	text-align: center;
}

.welcome-item p {
	font-size: 18px;
	color: var(--tufts-blue);
	font-family: 'Montserrat', sans-serif;
	position: relative;
	text-align: center;
}

.break {
  height: 0;
  flex-basis: 100%;
  border: 1px dashed black;
  background-color: green;
}